header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 74px;
  background-color: #130B16;
}

header nav {
  display: none;
}

header button {
  margin-left: 24px;
  background-color: transparent;
  border: none;

  font-size: 32px;
  color: #FFF;
}

* {
  padding: 0;
  margin: 0;

  font-family: Inter;
}

#principal {
  text-align: center;
  margin-top: 10px;
}

.d-flex {
  margin-top: 20px;
}

.d-flex input {
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 1px solid black
}

input:focus {
  outline: none;
}

.imagens {
  display: flex;
}

.imagens section {
  margin: 0 9px;
}

.imagens section img {
  width: 100%;
}

.icones-sociais img {
  width: 30px;
  height: 30px;
}

.icones-sociais {
  display: flex;
  gap: 8px;
}

h3 {
  font-size: 8px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 30px 12px;

  color: rgb(0, 0, 0);
}

footer h3 {
  font-size: 14px;
}

h5 {
  text-align: center;
  color: #000;
  margin-top: 32px;
  margin-bottom: 80px;
  font-size: 32px;
  font-weight: 400;
}

#deseja {
  color: #000;

  font-size: 32px;
}

#busca {
  text-align: center;
}

#servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#servicos h2 {
  font-size: 28px;
  font-weight: 400;

  color: #000;
}

.opcoes {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 60px 40px;
}

.opcoes h4 {
  font-size: 40px;
  font-weight: 400;

  color: #000;
}

.opcoes strong {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;

  color: #000;
}

#area_banner1 {
  margin-top: 68px;
}

#area_banner1 img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1280px) {
  header button {
    display: none;
  }

  header nav {
    display: block;
  }

  header nav a {
    margin-left: 24px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

    color: #FFF;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  footer h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #000;
  }

  .icones-sociais {
    display: flex;
    flex-direction: row;
  }

  .icones-sociais img {
    width: 50px;
    height: 50px;
  }

  #servicos h2 {
    font-size: 48px;
  }

  .opcoes {
    margin: 100px;
  }

  .opcoes h4 {
    font-size: 60px;
  }

  .opcoes strong {
    font-size: 24px;
  }
}